/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*Content Style*/
body {
    padding: 0%;
    margin: 0%;
    font-family: "Crimson Text", serif;
}

.navigation--bar {
    display: flex;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 7vh;
    background-color: #99582a;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.navigation--buttons {
    padding: 20px;
}

a {
    padding: 10px 20px;
    color: #ffe6a7;
    text-decoration: none;
    font: bold 0.9rem "Crimson Text", serif;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #ffe6a7;
    align-items: center;
    justify-content: center;
}

#top {
    background: url("assets/cafe_bg.webp") no-repeat center;
    background-size: 100%;
}

.top--content {
    display: flex;
    width: 50vw;
    height: 80vh;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 1);
    margin-top: 40px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 55vh;
    height: 40vh;
    object-fit: cover;
}

.title {
    font: 4rem "Pacifico", Cursive;
    padding: 0%;
    margin: 0%;
    position: relative;
    top: -10%;
}

.subtitle {
    font:600 1.7rem "Playfair Display", sans-serif;
    padding: 0%;
    margin: 0%;
    position: relative;
    top: -12%;
}

#shop--button {
    width: 15vw;
    height: 7vh;
    border: none;
    border-radius: 20px;
    position: relative;
    top: -5%;
    background-color: #0a0908;
    color: #f2f4f3;
    font: 600 1rem "Crimson Text", serif;
}

#products {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.product--content {
    display: flex;
    width: 90vw;
    height: 90vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section--title {
    font: bold 2.5rem "Crimson Text", serif;
    margin: 0%;
    color: #432818;
}

.description {
    font: 600 1rem "Crimson Text", serif;
    color: #432818;
    padding: 1% 20%;
    margin: 0%;
    text-align: center;
}

.product--container {
    display: flex;
    width: 70vw;
    height: 60vh;
    gap: 5vw;
    align-items: center;
    justify-content: center;
}

.product--card {
    width: 18vw;
    height: 50vh;
    background-color: #f2f4f3;
    color: #432818;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.product--image {
    width: 32vh;
    height: 32vh;
    border: 2px solid #432818;
    border-radius: 15px;
    position: relative;
    top: 3%;
}

#reviews {
    position: relative;
    z-index: -1;
    background-color: lightgray;
}

footer {
    display: block;
    width: 100%;
    height:30vh;
    background-color: #99582a;
}